extends ../node_modules/pug-bootstrap/_bootstrap
append styles
block body
  .container
    form.form-signin
      h2.form-signin-heading Merci de voter pour la session Azure Essentials du 25/09/2018 !
      
      button.btn.btn-lg.btn-primary.btn-block(type='submit', formaction='/for', formmethod='post') J'adore cette session ! C'est passionant
      button.btn.btn-lg.btn-primary.btn-block(type='submit', formaction='/against', formmethod='post') Je m'ennuie à mourir !