doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport",content="width=device-width, initial-scale=1")
      meta(name="description",content="")
      meta(name="author",content="")
      link(rel="icon",href="../../favicon.ico")
      title= title
      block styles
        link(rel="stylesheet",href="https://frbouterrateazessentials.blob.core.windows.net/public/winstrap.min.css")
        link(rel="stylesheet",href="https://frbouterrateazessentials.blob.core.windows.net/public/winstrap-optional.min.css")
  body(data-spy="scroll",data-target=".scrollspy")
    block body
			
    block scripts
      script(src="https://frbouterrateazessentials.blob.core.windows.net/public/jquery.min.js")
      script(src="https://frbouterrateazessentials.blob.core.windows.net/public/bootstrap.min.js")

    block body
      .navbar.navbar-default
        .navbar-global.theme-default
          .container
            .navbar-header
              a.navbar-brand(href="http://www.microsoft.com")
                img(height="23", alt="Microsoft" src="https://assets.onestore.ms/cdnfiles/onestorerolling-1511-11008/shell/v3/images/logo/microsoft.png")
        .navbar-local.color-accent.theme-dark
          .container
            .navbar-header
              .navbar-brand
                label Azure Essentials
      .jumbotron
        div.container(align="center")
          h2 Merci de voter pour la session Azure Essentials du 19/02/2019 qui était hier !
          h4
            if thanksmessage
              .label(style="white-space:normal").label-success #{thanksmessage}
            else if sorrymessage
              .label(style="white-space:normal").label-danger #{sorrymessage}
            else
              .label  
      .container
        form.form-horizontal
          button.btn.btn-lg.btn-primary.btn-block(type='submit', formaction='/for', formmethod='post') J'adore cette session ! C'est passionant !
          button.btn.btn-lg.btn-primary.btn-block(type='submit', formaction='/against', formmethod='post') Je m'ennuie à mourir !